@model IEnumerable<auction.Models.AuctionItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auctioned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionItemType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid.BidId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auctioned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionItemType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid.BidId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuctionItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuctionItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuctionItemId })
        </td>
    </tr>
}

</table>
