@model auction.Models.AuctionItemView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuctionItemView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BidPersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidPersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
