@model IEnumerable<auction.Models.Bid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionItem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BidId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BidId })
        </td>
    </tr>
}

</table>
